* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }

  .container {
    background-color: #f2f2f2;
    margin: 40px 400px;
    padding: 50px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 36px;
    margin-top: 0;
  }

  h2 {
    font-size: 24px;
    margin-top: 20px;
  }

  h3 {
    font-size: 18px;
    margin-top: 40px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }

  th {
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-weight: bold;
  }

  td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
  }

  td:last-child {
    border-bottom: none;
  }

  /* Personal Skills Style */

  h2.personal-skills {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  ol.personal-skills {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li.personal-skills {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  li.personal-skills::before {
    content: "‣";
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }

  /* Technical Skills Style */

  h2.technical-skills {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  ul.technical-skills {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li.technical-skills {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  li.technical-skills::before {
    content: "‣";
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }